html,
body {
    max-width: 100%;
}

#presenting_video_container {
    width: 100%;
}

.custom__video__element {
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    height: auto;
    display: block;
    aspect-ratio: 16 / 9;
}

.custom__pdf__container{
    max-width: 100%;
    min-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#custom__modal__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000B5;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
}

#custom__modal__container>#custom__modal {
    position: relative;
    background-color: #fff;
    width: 70%;
    height: 70%;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
}

#custom__modal>#modal__submit__btn {
    background-color: #08386D;
    cursor: pointer;
    color: white;
    outline: none;
    padding: 4px 8px;
    display: block;
    width: fit-content;
    margin: 6px auto;
}

#user__response__field {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px 4px;
    margin: 8px 0;
}

#user__response__field > input {
    padding: 4px;
    width: 100%;
}

.hidden {
    display: none;
}


#pagesNumber {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .base__container {
        width: 90vw;
        margin: auto;
    }
  }